/* 通用样式 */


/* 样式重置 */

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1230px;
    height: 100%;
    /* 设置 元素 水平居中 */
    margin: 0 auto;
    /* background: red; */
}