/* index.html 的样式 */


/* header 开始 */

#header {
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    /* 单行文字垂直居中 */
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
}

#login-info {
    float: left;
}

#quick-menu {
    float: right;
}

#quick-menu .menu {
    float: left;
    position: relative;
    padding: 0 14px;
    height: 33px;
}

#header a,
#login-info span {
    color: #999;
}

#header a:hover {
    color: #ff0036;
}

#header a {
    /* padding: 0 14px; */
    /* margin: 0 14px; */
}

#header .triangle::after {
    content: '';
    border-width: 3px;
    border-style: solid;
    border-top-color: #bbbbbb;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0px;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -1.5px;
    transition: none;
    transform-origin: 3px 1.5px;
}

.iconfont {
    font-size: 12px;
    color: #ff0036;
}

#login-info a {
    padding-left: 15px;
}

#login-info .register {}

#header .triangle:hover::after {
    transform: rotate(180deg);
    transition: all 0.5s ease;
    /* 设置旋转圆点 */
}

#header .triangle {
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: transparent;
}

#header .triangle:hover {
    background: #ffffff;
    border-color: #e5e5e5;
    cursor: pointer;
}

#header .triangle:hover>a {
    color: #ff0036;
}

#header .triangle>a:hover {
    text-decoration: underline;
}

#quick-menu .submenu {
    position: absolute;
    width: 74px;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    top: 33px;
    left: -1px;
    padding: 0 14px;
    display: none;
}

#header .triangle:hover .submenu {
    display: block;
}

#quick-menu .submenu a:hover {
    text-decoration: underline;
    color: #ff0036;
}

#quick-menu .split {
    width: 1px;
    height: 14px;
    background: #cccccc;
    padding: 0;
    margin: 9px 0 0 10px;
}

#quick-menu .qr-code {
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 28px;
    left: -53px;
    background: #ffffff;
    box-shadow: 0 0 5px #aaa;
    display: none;
}

#quick-menu .qr-code::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff;
    position: absolute;
    left: 80px;
    top: -10px;
}

#quick-menu .mobile:hover .qr-code {
    display: block;
}

#quick-menu .qr-code img {
    width: 175px;
}


/* 6-商家支持 开始 */

#quick-menu .seller {
    width: 120px;
    /* display: block; */
    left: auto;
    right: -1px;
    margin: auto 0;
}

#quick-menu .seller-title {
    line-height: 20px;
    color: #666;
}

#quick-menu .seller a {
    float: left;
    width: 60px;
    position: relative;
    line-height: 25px;
    color: #666;
}

#quick-menu .seller .ta-right {
    text-align: right;
}

#quick-menu .seller-ask {
    text-indent: 12px;
}


/* 6-商家支持 结束*/


/* header 结束 */


/* logo-search 开始 */

#logo {
    float: left;
    background-attachment: #ff0000;
}

#search {
    float: left;
    /* background: #00ff00; */
    margin-top: 50px;
    margin-left: 50px;
}

#logo img {
    width: 240px;
}

#search .search-box {
    border: 2px solid #ff0036;
}

#search .search-ipt {
    width: 483px;
    height: 32px;
    border: none;
    /* input focus时边框 */
    outline: none;
    font-size: 14px;
    text-indent: 10px;
}

#search .search-btn {
    /* float: left; */
    width: 133px;
    height: 38px;
    border: none;
    background: #ff0036;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#search .hot {
    float: left;
    border-right: 1px solid #cccccc;
    padding: 0 15px;
    height: 15px;
    line-height: 15px;
}

#search .hot a {
    color: #999999;
    font-size: 12px;
}

#search .hot-query {
    margin-top: 5px;
}

#search .hot-query-highlight a {
    color: #ff0036;
}

#search .first {
    padding-left: 0;
}

#search .last {
    border-right: none;
}


/* logo-search 结束 */