$color:#f00;
$w:200px;
#div1 {
    width: $w;
    height: $w;
    background-color: $color;
    .aa {
        font-size: 12px;
        .bb {
            background-color: #cccccc;
        }
        &:hover {
            background: #00ff00;
        }
    }
}

#div2 {
    width: $w;
    height: $w;
    color: $color;
}

.dialog {
    width: $w;
    &-container {
        height: $w;
    }
    &-title {
        font-size: 18px;
        &-close {
            float: left;
            background: {
                color: $color;
                image: url(xx.jpg);
                position: right top;
            }
            ;
            border: {
                left: {
                    color: transparent;
                    style: solid;
                    width: 2px;
                }
            }
            ;
        }
    }
}

$bg:background;
#div4 {
    #{$bg}: $color;
}

@mixin xx($num, $c:#ccc) {
    width: $num;
    height: $num;
    background: $c;
}

#div5 {
    @include xx(200px, #f00);
    font-size: 20px;
}

#div6 {
    @include xx($c: #0f0, $num: 300px);
}

#div7 {
    @include xx($num: 400px);
    .aa {
        background: $color;
    }
}

#div8 {
    @extend #div7;
    font-size: 20px;
}

@import 'base/common';
#div9 {
    width: (10px/10);
}

#div10 {
    width: percentage(3/100);
}

$m:(light:#fff, dark:#000);
#div11 {
    background: map-get($m, dark);
}

$fz:font-size;
#div12 {
    #{$fz}: 20px;
}


/*当前的属性是#{$fz}*/

@function foo($arg) {
    @if ($arg==1) {
        @return #000;
    }
    @else if($arg==2) {
        @return #fff;
    }
    @else {
        @return #ccc;
    }
}

#div13 {
    background: foo(1);
}

$column:3;
@for $i from 1 through $column {
    .col1-log-#{$i} {
        width: percentage($i/100);
    }
}

@for $i from 1 to $column {
    .col2-log-#{$i} {
        width: percentage($i/100);
    }
}

$icons:plus music search heart;
@each $icon in $icons {
    .glyphicon-#{$icon} {
        background: url('glyphicon-'+$icon +'.png');
    }
}

$i:5;
@while $i>0 {
    .col-md-#{$i} {
        width: percentage($i/100);
    }
    $i:$i - 2;
}

$map:(light:#fff,
dark:#000);
@function get-color($color) {
    @if(map-has-key($map, $color)) {
        @return map-get($map,
        $color);
    }
    @else if() {
        @warn '你传入的颜色不存在';
        @return #ccc;
    }
}

#div14 {
    background: get-color(xxx);
}